# In order to install jper you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# install esprit
-e git+https://github.com/OA-DeepGreen/esprit.git@9fe39ed736d92194c8c2f1475528ce1748caa91b#egg=esprit

# install octopus (initialise the submodule first)
-e magnificent-octopus

# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
