# In order to install jper you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# install esprit
-e git+https://github.com/OA-DeepGreen/esprit.git@d04bac9e0b22305b19831cd5d1d72c6ac23f5d22#egg=esprit

# install octopus (initialise the submodule first)
-e magnificent-octopus

# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
